h1 {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    height: 50px;
    border: 5px solid white;
    align-items: center;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

}
.navigation {
    display: flex;
    justify-content: center;
    height: 50px;
    flex: 1 0 auto;
    background-color: #f1f1f1;
    border: 5px solid white;
    align-items: center;
}

.main-row {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 420px;
    flex: 1 0 auto;
}

.form-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    background-color: #f1f1f1;
    border: 5px solid white;

}

.form-center {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    background-color: #f1f1f1;
    border: 5px solid white;
}

.form-right {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    flex: 1;
    justify-content: center;
    border: 5px solid white;
}

.footer {
    display: flex;
    background-color: #f1f1f1;
    justify-content: center;
    border: 5px solid white;
    flex: 0 0 auto;
    height: 50px;
    align-items: center;
    }
 .error-label {
    color: red;
 }